<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Trends - Node.js Pasta</title>

        <meta name="description" content="Node.js Pasta Trends!">
        <meta name="author" content="Lusfikar Sheba">

        <!-- [ Social Media meta tag ] -->
        <meta content='summary' name='twitter:card'/>
        <meta content='@ciyy_space' name='twitter:site'/>
        <meta content='@ciyy_space' name='twitter:creator'/>

        <meta content='<%=hostname%>/trends' property='og:url'/>
        <meta content='Trends - Node.js Pasta' property='og:site_name'/>
        <meta content='Trends - Node.js Pasta' property='og:title'/>
        <meta content='Trends - Node.js Pasta' name='twitter:title'/>
        <meta content='website' property='og:type'/>
        <meta content='<%=hostname%>/views/img/ciyy-200x200.png' property='og:image'/>
        <meta content='<%=hostname%>/views/img/ciyy-200x200.png' name='twitter:image'/>
        <meta content='Node.js Pasta Trends!' property='og:description'/>
        <meta content='Node.js Pasta Trends!' name='twitter:description'/>
        <meta content='en_US' property='og:locale'/>
        <!-- [/ Social Media meta tag ] -->

        <link rel="shortcut icon" type="image/png" href="/views/img/favicon.png"/>
        <link href="/views/css/bootstrap.min.css" rel="stylesheet">
        <link href="/views/css/bootstrap-theme.min.css" rel="stylesheet">
        <script src="/views/js/jquery-3.2.1.min.js"></script>
        <script src="/views/js/bootstrap.min.js"></script>
    </head>
<body>
<% include ./functions %>
<div class="container">
    <nav class="navbar navbar-default navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Node.js Pasta</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/trends">Trends</a></li>
                    <li><div class="btn-nav"><a class="btn btn-primary btn-small navbar-btn" href="/"><span class="glyphicon glyphicon-plus-sign"></span> New Paste</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class= "col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Trending Pastes</b></h3>
                </div>
                <div class="panel-body" style="min-height: 336px; max-height: 336px; overflow-y: scroll;">
                    <div class="list-group">
                        <% if (locals.therows) { %>
                            <% therows.forEach(function(singleRow) { %>
                                <a href="<%= hostname %>/paste/<%= singleRow.pasteperm %>" target="_blank" class="list-group-item">
                                    <h4 class="list-group-item-heading"><%= singleRow.title %></h4>
                                    <p class="list-group-item-text"><i>Expired in <%= singleRow.pasteex %>, <%= singleRow.hits %> Hit(s)</i></p>
                                    <p class="list-group-item-text"><%= getTheExcerpt(singleRow.newpaste) %></p>
                                </a>
                            <% }); %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-inverse">
        <div class="container-fluid">
            <p class="navbar-text pull-right">Copyright &#169; Lusfikar Sheba 2017</p>
        </div>
    </nav>
</body>
</html>